/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;760&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: #333;
}

.swiper {
	width: 75%;
	padding: 40px;
	border-radius: 20px;
	font-family: 'Cooper', 'Times New Roman', Times, serif;
}

body {
	height: 100vh;
	background-color: #f2f2f2;
}

section .card .image {
	height: 160px;
	width: 160px;
	border-radius: 50%;
	padding: 3px;
	background: rgb(82, 202, 82);
}

section .card .image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 3px solid #fff;
}

.card {
	position: relative;
	background-color: #fff;
	border-radius: 30px;
	width: 350px;
	margin: 20px 0;
	box-shadow: 5px 4.8px 2.8px -20px rgba(0, 0, 0, 0.05), 27px 26px 22px -20px rgba(0, 0, 0, 0.1);
}

.card::before {
	content: '';
	position: absolute;
	height: 28%;
	width: 100%;
	background-color: rgb(82, 202, 82);
	border-radius: 20px 20px 0 0;
}

.card .card-content {
	padding: 30px;
	position: relative;
	z-index: 100;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h4 {
	color: rgb(82, 202, 82);
}

h4 + p {
	margin-top: 15px;
}

.ingredients {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 15px;
}

.instructions {
	margin-top: 15px;
}

ul {
	margin-top: 15px;
	list-style: inside;
}

.card .drink-name {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}

.drink-name h1 {
	font-size: 2rem;
	color: white;
	font-weight: 600;
	padding-bottom: 20px;
	text-align: center;
}

.swiper-button-next {
	color: rgb(82, 202, 82);
	top: 75%;
	padding-right: 50px;
}
.swiper-button-prev {
	color: rgb(82, 202, 82);
	top: 75%;
	padding-left: 50px;
}

.swiper-pagination-bullet-active {
	background: rgb(82, 202, 82);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	padding-bottom: 2rem;
	padding-top: 2.5rem;
	position: relative;
}

.swiper-button-prev:after {
	font-weight: 700;
}

.swiper-button-next:after {
	font-weight: 700;
}
